/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@mixin mq($break) {
  @media (min-width: map-get($breakpoints, $break)) {
    @content;
  }
}

@mixin centered-block {
  // display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}
