/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  @include mq("tablet") {
    padding: 10px 30px;
  }
  & + & {
    margin-left: 10px;
  }
}

@each $btn, $color in $buttons {
  #{$btn} {
    background-color: $color;
  }

  #{$btn}:hover {
    background-color: lighten($color, 10%);
  }
}
