/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  display: block;
  @include mq("tablet") {
    max-width: 1400px;
    @include centered-block;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;

  @include mq("tablet") {
    flex-direction: row;
  }
}

[class^="col"] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;

  @include mq("tablet") {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }

  & + [class^="col"] {
    margin-left: 10px;
  }
}

.centered {
  @include mq("tablet") {
    @include centered-block;
  }
}

@for $i from 1 through 12 {
  .theme.col-#{$i} {
    background-color: map-get($themes, $i);
  }

  @include mq("tablet") {
    .col-#{$i} {
      flex-basis: calc((8.33% * #{$i}));
    }
  }
}

.card {
  flex-basis: 100%;
}
